<!-- <p>soluciones works!</p> -->
<!-- soluciones.component.html -->
<mat-card>
    <mat-card-header>
      <mat-card-title>Título de la tarjeta</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="ruta_de_la_imagen.jpg" alt="Imagen de la tarjeta" />
    <mat-card-content>
      Contenido de la tarjeta: descripción del producto, detalles, etc.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Botón 1</button>
      <button mat-button>Botón 2</button>
    </mat-card-actions>
  </mat-card>