/* inicio.component.css */
.inicio-container {
  max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: url('https://utec.edu.pe/sites/default/files/blog/el_impacto_de_la_transformacion_digital_en_la_administracion_de_empresas.jpg');
    background-color: rgba(255,255,255,0.3);
  }
  
  .titulo-grande {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .carrusel-item {
    flex: 0 0 100%;
    transition: transform 1s;
  }
  
  .carrusel img {
    max-width: 100%;
    height: auto;
  }
  