<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <div class="column">
        <h3>Columna 1</h3>
        <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Columna 2</h3>
        <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Columna 3</h3>
        <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Columna 4</h3>
        <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
        </ul>
      </div>
    </div>
  </footer>
  