<!-- footer.component.html 
<footer class="footer">
    <div class="container">
      <div class="column">
        <h3>Enlaces útiles</h3>
        <ul>
          <li>Inicio</li>
          <li>Nosotros</li>
          <li>Servicios</li>
          <li>Soluciones</li>
          <li>Aviso de privacidad</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Nuestros Servicios</h3>
        <ul>
          <li>DBA</li>
          <li>Desarrollo de Apps</li>
          <li>Seguridad de Datos</li>
          <li>Desarrollo de Software</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Contáctanos</h3>
        <ul>
          <li>Teléfono: +52(55)51127794</li>
          <li>Correo: imformacion@gepyxis.mx</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>GEPYXIS</h3>
        <ul>
          <li>Siguenos en nuestras redes sociales</li>
          <li>** ** **</li>
        </ul>
      </div>
    </div>
  </footer>
  -->

  <footer>
    <div class="footer-left">
        <img src="assets/img/LogoGP.png" alt="Logo de la empresa" class="logo">
        <p class="company-description">Ge Pyxis ha colaborado con nuestros clientes en superar la brecha tecnológica que se tenia antes del 
          inicio del COVID19, ahora ellos cuentan con la mejor tecnología informática que les ayuda a la 
          continuidad de su negocio, con modelos de procesos rediseñados para que sus empleados trabajen en forma 
          Híbrida, tanto en casa como en oficina o fábrica, permitiendo con esto reducción de costos y mantener 
          la calidad y eficiencia en los servicios y/o productos que ofrecen. Ge Pyxis Empresa que supera las 
          expectativas de sus clientes.</p>
    </div>
    <div class="footer-center">
        <h3>Navegación</h3>
        <ul class="footer-nav">
            <li><a href="inicio">Inicio</a></li>
            <li><a href="about">Nosotros</a></li>
            <li><a href="servicios">Servicios</a></li>
            <li><a href="soluciones">Soluciones</a></li>
        </ul>
    </div>
    <div class="footer-center">
      <h3>Contáctanos</h3>
      <ul class="footer-nav">
          <li><a href="#">Teléfono: +52(55)51127794</a></li>
          <li><a href="#">Correo: imformacion@gepyxis.mx</a></li>
      </ul>
  </div>
    <div class="footer-right">
        <h3>Síguenos en nuestras redes sociales</h3>
        <div class="social-icons">
            <a href="https://www.facebook.com/people/Ge-Pyxis/100044820375843/" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/gepyxis/" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://mx.linkedin.com/company/gpy22012208" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/infopyxis" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>