<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <div class="column">
        <h3>Enlaces útiles</h3>
        <ul>
          <li>Inicio</li>
          <li>Nosotros</li>
          <li>Servicios</li>
          <li>Soluciones</li>
          <li>Aviso de privacidad</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Nuestros Servicios</h3>
        <ul>
          <li>DBA</li>
          <li>Desarrollo de Apps</li>
          <li>Seguridad de Datos</li>
          <li>Desarrollo de Software</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>Contáctanos</h3>
        <ul>
          <li>Teléfono: +52(55)51127794</li>
          <li>Correo: imformacion@gepyxis.mx</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>GEPYXIS</h3>
        <ul>
          <li>Siguenos en nuestras redes sociales</li>
          <li>** ** **</li>
        </ul>
      </div>
    </div>
  </footer>
  