/* shopping-cart.component.css */
.shopping-cart {
  display: flex;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.product-list {
  border: 1px solid #ccc;
  flex: 1;
}

.product {
  background-color: rgba(255, 235, 205, 0.286);
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.product-image img {
  max-width: 90%;
  margin-right: 10px;
}

.cart-summary {
  flex: 0 0 300px;
  border: 1px solid #ccc;
  padding: 50px;
}
/* Estilo para el espacio en blanco */
.spacer {
  margin-top: 60px; /* Ajusta el valor para obtener el espacio deseado */
}

/* Estilo para el contenido del carrito de compras 
.shopping-cart-content {
  display: flex;
  /* Agrega otros estilos necesarios para el contenido del carrito de compras 
}*/