<!-- shopping-cart.component.html -->
<div class="spacer"></div>
<div class="shopping-cart-content">
<div class="shopping-cart">
  <div class="product-list">
    <div *ngFor="let product of products" class="product">
      <div class="product-image">
        <img [src]="product.image" alt="Producto">
      </div>
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Cantidad: {{ product.quantity }}</p>
        <p>Precio: ${{ product.price.toFixed(2) }}</p>
        <button mat-icon-button (click)="removeFromCart(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="cart-summary">
    <h2>Resumen del carrito</h2>
    <mat-list>
      <mat-list-item>Total: ${{ cartTotal.toFixed(2) }}</mat-list-item>
      <!-- Agrega aquí las formas de pago como mat-list-item -->
    </mat-list>
    <button mat-raised-button color="primary" (click)="pay()">Pagar</button>
  </div>
</div>
</div>
<div class="spacer"></div>
