<!-- soluciones.component.html -->
<div class="soluciones-container">
    <h2 class="titulo-grande">NUESTRAS HABILIDADES</h2>
    <div class="tarjetas-container">
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title class="titulo-tarjeta">VANGUARDIA TECNOLÓGICA</mat-card-title>
        </mat-card-header>
        <mat-card-content  class="descripcion-tarjeta">
          Nos ocupamos de integrar en nuestras soluciones la Tecnología más actual e Internacional.
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title class="titulo-tarjeta">PROCESOS DE NEGOCIOS</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Analizamos y diagnosticamos los procesos clave de los negocios ofreciendo las alternativas de solución adecuadas para cada empresa.
        </mat-card-content>
      </mat-card>
  
      <!-- Tarjetas restantes... -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title class="titulo-tarjeta">GESTIÓN DE PROYECTOS</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Ayudamos a nuestros clientes en la administración de los proyectos asignando ya sea bajo nuestra responsabilidad o asignando personal (PMO).
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title class="titulo-tarjeta">ADMINISTRACIÓN DEL CAMBIO</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Ayudamos a minimizar la resistencia al cambio y hacer más rápida la aceptación por parte de los usuarios.
        </mat-card-content>
      </mat-card>
    </div>
    
  </div>
   <!-- Segundo bloque con imagen de fondo y tres tarjetas -->
   <div class="bloque-imagen">
    <h2 class="titulo-blanco">Nuestra Misión, Visión y Valores</h2>
    <div class="tarjetas-container">
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-mision"></div>
          <mat-card-title class="titulo-tarjeta">MISIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Fortalecer el desarrollo y crecimiento de nuestros clientes a través de proveer soluciones focalizadas en áreas claves del negocio, en los procesos, en las personas y en los clientes.
        </mat-card-content>
      </mat-card>

      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-vision"></div>
          <mat-card-title class="titulo-tarjeta">VISIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Proveer a empresa soluciones con tecnología avanzada que permita minimizar riesgos y costos e incrementar la rentabilidad para generar mayores beneficios económicos, sociales y familiares a todos sus integrantes, procurando el cuidado del medio ambiente.
        </mat-card-content>
      </mat-card>

      <!-- Tarjetas restantes... -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-nuestros"></div>
          <mat-card-title class="titulo-tarjeta">NUESTROS VALORES</mat-card-title>
        </mat-card-header>
        <mat-card-content class="descripcion-tarjeta">
          Integridad: Que todo profesionista posee al ejercer sus funciones en todo ámbito. Confianza: En nuestra organización para ofrecer a nuestros clientes. Pasión: Que incrementa al hacer lo que amamos.
        </mat-card-content>
      </mat-card>
    </div>
  </div>

