<!-- soluciones.component.html -->
<div class="soluciones-container">
    <h2 class="titulo-grande">Nuestras habilidades:</h2>
    <div class="tarjetas-container">
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 1.
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 2.
        </mat-card-content>
      </mat-card>
  
      <!-- Tarjetas restantes... -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 3.
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 4.
        </mat-card-content>
      </mat-card>
    </div>
    
  </div>
   <!-- Segundo bloque con imagen de fondo y tres tarjetas -->
   <div class="bloque-imagen">
    <h2 class="titulo-blanco">Nuestra Misión, Visión y Valores</h2>
    <div class="tarjetas-container">
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-mision"></div>
          <mat-card-title>Misión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Descripción de la misión.
        </mat-card-content>
      </mat-card>

      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-vision"></div>
          <mat-card-title>Visión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Descripción de la visión.
        </mat-card-content>
      </mat-card>

      <!-- Tarjetas restantes... -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta-vision"></div>
          <mat-card-title>Nuestros Valores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Descripción de la visión.
        </mat-card-content>
      </mat-card>
    </div>
  </div>

