/* soluciones.component.css */
.soluciones-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .titulo-grande {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tarjeta {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  .icono-tarjeta {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; /* Puedes personalizar el color del icono */
  }
  