<!-- soluciones.component.html -->
<div class="soluciones-container">
    <h2 class="titulo-grande">Nuestras habilidades:</h2>
    <div class="tarjetas-container">
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 1.
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 2.
        </mat-card-content>
      </mat-card>
  
      <!-- Tarjetas restantes... -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 3.
        </mat-card-content>
      </mat-card>
  
      <!-- Repite el patrón para las otras tarjetas -->
      <mat-card class="tarjeta">
        <mat-card-header>
          <div mat-card-avatar class="icono-tarjeta"></div>
          <mat-card-title>Titulo Tarjeta 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Texto breve de la solución 4.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
