/* header.component.css */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ajusta el valor según la superposición con otros elementos */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  mat-menu {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  mat-menu button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  mat-menu button:hover {
    background-color: #e0e0e0;
  }
  
  