<!-- navbar.component.html -->
<header>  
  <nav>
    <div class="logo">
      <a href="inicio"><img src="assets/img/LogoGP.png" alt="Logo"></a>
    </div>
    <div class="menu-icon">&#9776;</div>
    <ul class="menu">
      <li><a href="inicio">Inicio</a></li>
      <li class="submenu">
        <a href="soluciones">Soluciones &#9662;</a>
        <ul class="submenu-content">
          <li><a href="soluciones/GEP-Wallet">GEP Wallet</a></li>
          <li><a href="soluciones/categoria2">Manage My People</a></li>
          <li><a href="soluciones/categoria3">SUA-Compliance</a></li>
          <li><a href="soluciones/categoria4">Oracle-EBS</a></li>
        </ul>
      </li>
      <li class="submenu">
        <a href="servicios">Servicios</a>
      </li>
      <li><a href="about">Nosotros</a></li>
      <li class="submenu">
        <a href="login">Login</a>
        <ul class="submenu-content">
          <li><a href="login">Iniciar Sesión</a></li>
          <li><a href="registro">Registrar</a></li>
        </ul>
      </li>
      <li><a href="carrito"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
  </nav>
</header>
  