.gif-block {
    background: url('https://www.guatemala.com/fotos/2020/06/techonolgy-world-1.gif') no-repeat center center fixed; 
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
  
  .gif-block h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .gif-block p {
    text-align: center;
  }
  .content-block {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .column {
    flex-basis: 50%; /* Indica que cada columna debe comenzar con el 50% del ancho total */
    padding: 15px;
    box-sizing: border-box; /* Asegúrate de que padding y otros estilos de caja no aumenten el tamaño de las columnas */
  }
  
  .column img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho de la columna */
  }
  
  .column p {
    text-align: justify;
  }
  .titulo-grande {
    font-size: 3.5em;
  }
  .texto-largo{
    font-size: 1.3em;
  }
  .bg-blue {
    background-color: rgb(3, 3, 54); /* Puedes reemplazar 'blue' por el código de color que prefieras. */
    color: white;
    font-size: 2em;
}

.btn-orange {
    background-color: rgb(255, 94, 0);
    color: white;
    border: none;
    margin-top: 30%; /* Añade un margen en la parte superior para mover el botón hacia abajo. */
    transition: transform 0.3s; /* Añade una transición para suavizar el cambio de tamaño. */
    font-size: 1.1em;
}

.btn-orange:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón un 10% cuando el cursor está sobre él. */
}
.column2 {
    text-align: left;
    flex-basis: 50%; /* Indica que cada columna debe comenzar con el 50% del ancho total */
    padding: 15px;
    box-sizing: border-box; /* Asegúrate de que padding y otros estilos de caja no aumenten el tamaño de las columnas */
  }
  .spacer {
    margin-bottom: 3rem;
  }
  /** VIDEO **/

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    
  
  }
  
  iframe {
    width: 90%;
    height: 90%;
  }
 .img-down{
    height: 100%;
 }
 .block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/10425914/image/bade7c17a8457daa0687062c9c648573') no-repeat center center;
    background-size: cover;
    padding: 20px;
    color: white;
}

.block h1 {
    text-align: center;
    font-size: 3em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-orange2 {
    background-color: rgb(255, 119, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    transition: transform .2s;
}

.button-orange2:hover {
    transform: scale(1.1);
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    color: rgb(255, 119, 0);
    font-size: 20px;
}
p {
    font-weight: bold;
}
