body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  margin: 0;
}

.login-container {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  max-width: 800px;
  width: 100%;
  margin-top: 20px; /* Agregamos un margen superior para separar el título del formulario */
}

.form-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centramos los elementos horizontalmente */
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
}

.image-section {
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
}

.image-section img {
  width: 45%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 90px;
}

.image-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #000000;
  padding: 5px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 50px;
}

.form-section label,
.form-section input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form-section input[type="text"],
.form-section input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%; /* Ajustamos el ancho del input al 90% del contenedor */
}

.form-section input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Ajustamos el ancho del botón para hacerlo más pequeño */
  width: 200px;
  /* Estilos adicionales para el efecto "hover" */
  transition: background-color 0.5s ease-in-out; /* Animación suave */
  font-size: 17px;
  font-weight: bold;
}

.form-section input[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo diferente al hacer "hover" */
  font-weight: bold;
}

.spacer {
  margin-bottom: 2rem;
}

.login-container h2 {
  display: flex;
  justify-content: center;
  flex: 1;
}

.button-description {
  text-align: center;
  font-size: 14px;
  color: #000000;
  margin-top: 5px;
  font-weight: bold;
}
.button-description span{
  color: red;
}
.button-description a{
  text-decoration: none;
}
.button-description span:hover{
  color: rgb(255, 94, 94);
  font-weight: bold;
}