<body>
  <div class="spacer"></div>
  <h2 class="login-title">Iniciar sesión</h2>
  <div class="login-container">
    <div class="image-section">
      <img src="assets/img/LogoGP.png" alt="Imagen de fondo">
      <p class="image-description">Brindamos servicios de valor agregado en tecnologías de información, 
        implementamos y soportamos soluciones ERP, CRM, entre otros.</p>
    </div>
    <div class="form-section">
      <h2>Iniciar sesión</h2>
      <label for="correo">Correo o Teléfono:</label>
      <input type="text" id="email" name="email" placeholder="correo@email.com" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" placeholder="************" required><br>
      <input type="submit" value="Iniciar sesión">
      <p class="button-description">¿No tienes cuenta? Dale click en <a href="registro"><span>Registrar</span></a></p>
      <p class="button-description">¿Olvidaste la contraseña? Dale click en <a href="recuperarContrasena"><span>Recuperar contraseña</span></a></p>
    </div>
  </div>

  <div class="spacer"></div>
</body>
