<!-- servicios.component.html -->
<div class="spacer"></div>
<div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar servicios...">
    <button (click)="searchServices()">Buscar</button>
  </div>
  
  <div class="card-container">
    <div class="card" *ngFor="let servicio of filteredServicios">
      <img [src]="servicio.node.picture" alt="Imagen del servicio">
      <h2>{{ servicio.node.name }}</h2>
      <p>{{ servicio.node.description }}</p>
      <p>Precio: {{ servicio.node.cost }}</p>
      <a [routerLink]="['/servicios', servicio.node.idProducto]">Ver detalles</a>
    </div>
  </div>
  
  <div class="spacer"></div>