<!-- inicio.component.html -->
<div class="inicio-container">
    <h2 class="titulo-grande">Título en Grande 1</h2>
    <div class="carrusel" #carruselContainer>
      <!-- Aquí colocaremos las imágenes del carrusel -->
      <div class="carrusel-item">
        <img src="https://dlcdnrog.asus.com/rog/media/1582870301198.webp" alt="Imagen 1">
      </div>
      <div class="carrusel-item">
        <img src="https://dlcdnrog.asus.com/rog/media/1582870301198.webp" alt="Imagen 2">
      </div>
      <div class="carrusel-item">
        <img src="https://dlcdnrog.asus.com/rog/media/1582870301198.webp" alt="Imagen 3">
      </div>
      <!-- Agrega más imágenes según necesites -->
    </div>
  </div>
 