<!-- CARRUSEL -->

<!--
<div class="slider-container">
    <mat-slider class="carousel" [(ngModel)]="currentSlide" [min]="0" [max]="carouselImages.length - 1" [step]="1"></mat-slider>
  
    <div class="slider-content">
      <div class="slider-item" *ngFor="let slide of carouselImages; let i = index" [hidden]="currentSlide !== i">
        <img src="assets/img/inicio.jpg" alt="Imagen del carrusel" class="carousel-image" />
        <div class="carousel-content">
          <button mat-raised-button color="primary" (click)="navigateToPage(slide.page)">Ir a {{ slide.page }}</button>
        </div>
        <img src="assets/img/inicio.jpg" alt="Imagen del carrusel" class="carousel-image" />
        <div class="carousel-content">
          <button mat-raised-button color="primary" (click)="navigateToPage(slide.page)">Ir a {{ slide.page }}</button>
        </div>
      </div>
    </div>
  </div>
-->
<body>
  <div class="carousel-container">
    <div class="carousel-slide">
      <img src="assets/img/inicio.jpg" alt="Imagen 1">
      <div class="carousel-text">
        <h2>Ge Pyxis Mx</h2>
        <p>Brindamos servicios de valor agregado en Tecnologías de Información. 
          Implementamos y soportamos soluciones ERP, CRM y más para pymes y corporativos.</p>
        <button>Ver Más Proyectos</button>
      </div>
    </div>
    <div class="carousel-slide">
      <img src="assets/img/inicio1.jpg" alt="Imagen 2">
      <div class="carousel-text">
        <h2>Ge Pyxis Mx</h2>
        <p>Analizamos y diagnosticamos los procesos clave de los negocios ofreciendo las 
          alternativas de solución adecuadas para cada empresa.</p>
        <button>Ver Más Proyectos</button>
      </div>
    </div>
    <div class="carousel-slide">
      <img src="assets/img/inicio2.jpg" alt="Imagen 2">
      <div class="carousel-text">
        <h2>Ge Pyxis Mx</h2>
        <p>Fortalecer el desarrollo y crecimiento de nuestros clientes a través de proveer soluciones 
          focalizadas en áreas claves del negocio, en los procesos, en las personas y en los clientes.</p>
        <button>Ver Más Proyectos</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Sobre Nosotros</h1>
    <p>Ge Pyxis ha colaborado con nuestros clientes en superar la brecha tecnológica que se tenia antes del 
      inicio del COVID19, ahora ellos cuentan con la mejor tecnología informática que les ayuda a la 
      continuidad de su negocio, con modelos de procesos rediseñados para que sus empleados trabajen en forma 
      Híbrida, tanto en casa como en oficina o fábrica, permitiendo con esto reducción de costos y mantener 
      la calidad y eficiencia en los servicios y/o productos que ofrecen. Ge Pyxis Empresa que supera las 
      expectativas de sus clientes.</p><br><br>
    <div class="button-group">
      <button>Ver más Proyectos</button>
      <a href="about"><button class="btn-2">Más de Nosotros</button></a>
    </div>

    <!-- VIDEO -->

    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NmxgCbzXV_U" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
      web-share" allowfullscreen></iframe>
    </div>

    <!-- CARDS -->

    <div class="container1">
      <div class="card mission">
          <img src="https://cdn-icons-png.flaticon.com/128/3721/3721149.png" alt="Misión">
          <h2>Misión</h2>
          <p>Fortalecer el desarrollo y crecimiento de nuestros clientes a través de proveer soluciones 
            focalizadas en áreas claves del negocio, en los procesos, en las personas y en los clientes.
          </p>
      </div>

      <div class="card vision">
          <img src="https://cdn-icons-png.flaticon.com/512/1782/1782385.png" alt="Visión">
          <h2>Visión</h2>
          <p>Proveer a empresa soluciones con tecnología avanzada que permita minimizar riesgos y costos 
            e incrementar la rentabilidad para generar mayores beneficios económicos, sociales y familiares a 
            todos sus integrantes, procurando el cuidado del medio ambiente.</p>
      </div>
    </div>
  </div>

  

</body>


  

  
  <!-- MISION-VISION 
  <app-mision-vision></app-mision-vision> -->
<!-- TRAJETAS DE PRODUCTOS 
<div class="product-cards">
    <mat-card *ngFor="let product of products" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product.image" alt="{{ product.title }}" />
      <mat-card-content>
        {{ product.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver más</button>
      </mat-card-actions>
    </mat-card>
  </div>
  -->