<div class="gif-block">
    <h1>GEP WALLET</h1>
    <p>Software para la Gestión Financiera en la Nube para Microfinancieras en crecimiento</p>
  </div>
  <div class="content-block">
    <h1 class="titulo-grande">¿Qué es GEP WALLET?</h1>
    <div class="row">
      <div class="column">
        <img src="https://www.gepyxis.mx/GePyxis/Soluciones/420/image-thumb__420__featurerette/money.webp" alt="Descripción de la imagen">
      </div>
      <div class="column">
        <p class="texto-largo">GEP Financiera es un sistema construido
            Que buscan una opción para el sustento y el crecimiento sistematizado de su operación.            
            Se elaboró con la visión de proporcionar los servicios a la operación financiera, sin la inversión en soluciones de alto presupuesto 
            que buscan una opción para el sustento y el crecimiento sistematizado de su operación.            
            Vivimos en una época donde las microfinancieras modernas sistematizan todos sus procesos 
            con soluciones inteligentes y totalmente adaptadas a las necesidades del negocio.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-blue">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <p class="text-light">Aprovecha los beneficios de los sistemas<br /> de 
                gestión de finanzas para tu negocio</p>
        </div>
        <div class="col-lg-6 d-flex justify-content-lg-end">
            <button class="btn btn-orange">Contactanos</button>
        </div>
    </div>
</div>
<div class="content-block">
    <h1 class="titulo-grande">¿Qué ventajas tiene GEP WALLET?</h1>
    <div class="row">
      <div class="column">
        <img src="https://www.gepyxis.mx/GePyxis/Soluciones/415/image-thumb__415__portalCarousel/GEP.webp" alt="Descripción de la imagen">
      </div>
      <div class="column">
        <p class="texto-largo">Es un sistema disponilbe en la nube, Administre los creditos de:</p>
             
             <ul>
                <li>Nómina</li>
                <li>Arrendamiento Puro.</li>
                <li>Créditos Individuales.</li>
                <li>Microcréditos.</li>
              </ul>
      </div>
    </div>
  </div>
